In [1]:
import pickle
import pandas as pd

In [2]:
pd.read_pickle('/mnt/ampa02_data01/gabacoll/shared/dshntz/info.pkl')

,ID,integer_ID,instance_counts,corner,source,ref_channel,channel,crop_size,select_plane,isHard,plane_position
0,0000,0,23,"[1061, 4601, 560]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,0.0,24.0
1,0001,1,58,"[1325, 3350, 1543]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,0.0,25.0
2,0002,2,5,"[1356, 517, 1669]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,0.0,52.0
3,0003,3,7,"[1354, 566, 3633]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,0.0,42.0
4,0004,4,27,"[1331, 2013, 706]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,0.0,60.0
...,...,...,...,...,...,...,...,...,...,...,...
316,0316,316,1,"[1052, 2502, 2773]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,1,"[100, 256, 512]",True,0.0,49.0
317,0317,317,1,"[1024, 5751, 1221]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,1,"[100, 256, 512]",True,0.0,43.0
318,0318,318,1,"[1049, 4166, 1427]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,1,"[100, 256, 512]",True,0.0,49.0
319,0319,319,9,"[1072, 4143, 3769]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,1,"[100, 256, 512]",True,0.0,20.0
320,0320,320,1,"[1077, 3514, 2325]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,1,"[100, 256, 512]",True,0.0,0.0